.title {
    display: block;
    font-size: 19px;
    font-weight: bold;
    font-style: italic;
    color: black;
    text-decoration: none;
}
.image {
    width: 350px;
    height: auto;
}
.rank {
    font-size: 25px;
    color: brown;    
    margin-bottom: 50px;
}